<div class='unconfirmed-attendees'>
  <ul><%= @course.unconfirmed_attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %></ul>
</div>

<div class='confirmed-attendees'>
  <ul><%= @course.confirmed_attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %></ul>
</div>

